<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.mapper.BedMapper">
    <resultMap id="BaseResultMap" type="com.elderly.entity.Bed">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="room_id" jdbcType="INTEGER" property="roomId"/>
        <result column="bed_no" jdbcType="VARCHAR" property="bedNo"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , room_id, bed_no, status, remark, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bed
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_bed
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.elderly.entity.Bed">
        insert into t_bed (id, room_id, bed_no,
                           status, remark, create_time,
                           update_time)
        values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{bedNo,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.elderly.entity.Bed">
        insert into t_bed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roomId != null">
                room_id,
            </if>
            <if test="bedNo != null">
                bed_no,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="bedNo != null">
                #{bedNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.elderly.entity.Bed">
        update t_bed
        <set>
            <if test="roomId != null">
                room_id = #{roomId,jdbcType=INTEGER},
            </if>
            <if test="bedNo != null">
                bed_no = #{bedNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.elderly.entity.Bed">
        update t_bed
        set room_id     = #{roomId,jdbcType=INTEGER},
            bed_no      = #{bedNo,jdbcType=VARCHAR},
            status      = #{status,jdbcType=INTEGER},
            remark      = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findList" resultType="com.elderly.entity.Bed">
        select a.*,
        b.room_name
        from t_bed a
        inner join t_room b on a.room_id = b.id
        <where>
            <if test="roomId != null and roomId != ''">
                and a.room_id = #{roomId}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="bedNo != null and bedNo != ''">
                and a.bed_no = #{bedNo}
            </if>
        </where>
        order by a.create_time desc
        limit #{start},#{limit};
    </select>

    <select id="findTotal" resultType="java.lang.Integer">
        select count(a.id)
        from t_bed a
        inner join t_room b on a.room_id = b.id
        <where>
            <if test="roomId != null and roomId != ''">
                and a.room_id = #{roomId}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="bedNo != null and bedNo != ''">
                and a.bed_no = #{bedNo}
            </if>
        </where>
    </select>

    <select id="findByRoom" resultType="com.elderly.entity.Bed">
        select *
        from t_bed
        where room_id = #{roomId}
        order by id asc;
    </select>

    <select id="countTotal" resultType="java.lang.Integer">
        select count(id) from t_bed;
    </select>

    <select id="countByStatus" resultType="java.lang.Integer">
        select count(id) from t_bed where status = #{status};
    </select>
</mapper>