<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderly.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.elderly.entity.Bill">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="live_id" jdbcType="INTEGER" property="liveId"/>
        <result column="month" jdbcType="VARCHAR" property="month"/>
        <result column="bed_cost" jdbcType="DOUBLE" property="bedCost"/>
        <result column="care_cost" jdbcType="DOUBLE" property="careCost"/>
        <result column="food_cost" jdbcType="DOUBLE" property="foodCost"/>
        <result column="total_cost" jdbcType="DOUBLE" property="totalCost"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , live_id, month, bed_cost, care_cost, food_cost, total_cost, remark, status, create_time,
    update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bill
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_bill
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.elderly.entity.Bill">
        insert into t_bill (id, live_id, month,
                            bed_cost, care_cost, food_cost,
                            total_cost, remark, status,
                            create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{liveId,jdbcType=INTEGER}, #{month,jdbcType=VARCHAR},
                #{bedCost,jdbcType=DOUBLE}, #{careCost,jdbcType=DOUBLE}, #{foodCost,jdbcType=DOUBLE},
                #{totalCost,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.elderly.entity.Bill">
        insert into t_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="liveId != null">
                live_id,
            </if>
            <if test="month != null">
                month,
            </if>
            <if test="bedCost != null">
                bed_cost,
            </if>
            <if test="careCost != null">
                care_cost,
            </if>
            <if test="foodCost != null">
                food_cost,
            </if>
            <if test="totalCost != null">
                total_cost,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="liveId != null">
                #{liveId,jdbcType=INTEGER},
            </if>
            <if test="month != null">
                #{month,jdbcType=VARCHAR},
            </if>
            <if test="bedCost != null">
                #{bedCost,jdbcType=DOUBLE},
            </if>
            <if test="careCost != null">
                #{careCost,jdbcType=DOUBLE},
            </if>
            <if test="foodCost != null">
                #{foodCost,jdbcType=DOUBLE},
            </if>
            <if test="totalCost != null">
                #{totalCost,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.elderly.entity.Bill">
        update t_bill
        <set>
            <if test="liveId != null">
                live_id = #{liveId,jdbcType=INTEGER},
            </if>
            <if test="month != null">
                month = #{month,jdbcType=VARCHAR},
            </if>
            <if test="bedCost != null">
                bed_cost = #{bedCost,jdbcType=DOUBLE},
            </if>
            <if test="careCost != null">
                care_cost = #{careCost,jdbcType=DOUBLE},
            </if>
            <if test="foodCost != null">
                food_cost = #{foodCost,jdbcType=DOUBLE},
            </if>
            <if test="totalCost != null">
                total_cost = #{totalCost,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.elderly.entity.Bill">
        update t_bill
        set live_id     = #{liveId,jdbcType=INTEGER},
            month       = #{month,jdbcType=VARCHAR},
            bed_cost    = #{bedCost,jdbcType=DOUBLE},
            care_cost   = #{careCost,jdbcType=DOUBLE},
            food_cost   = #{foodCost,jdbcType=DOUBLE},
            total_cost  = #{totalCost,jdbcType=DOUBLE},
            remark      = #{remark,jdbcType=VARCHAR},
            status      = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findList" resultType="com.elderly.entity.Bill">
        select a.*,
        b.bed_id,b.name,
        c.bed_no,c.room_id,
        d.room_name
        from t_bill a
        inner join t_live b on a.live_id = b.id
        inner join t_bed c on b.bed_id = c.id
        inner join t_room d on c.room_id = d.id
        <where>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="visitorName != null and visitorName != ''">
                and a.visitor_name like concat('%',#{visitorName},'%')
            </if>
            <if test="userId != null and userId != ''">
                and b.user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and b.name like concat('%',#{name},'%')
            </if>
        </where>
        order by a.create_time desc
        limit #{start},#{limit};
    </select>

    <select id="findTotal" resultType="java.lang.Integer">
        select count(a.id)
        from t_bill a
        inner join t_live b on a.live_id = b.id
        inner join t_bed c on b.bed_id = c.id
        inner join t_room d on c.room_id = d.id
        <where>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="visitorName != null and visitorName != ''">
                and a.visitor_name like concat('%',#{visitorName},'%')
            </if>
            <if test="userId != null and userId != ''">
                and b.user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and b.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="selectExist" resultType="com.elderly.entity.Bill">
        select * from t_bill where live_id = #{liveId} and month = #{month}
    </select>
</mapper>